.formulaire_contact {
    display: flex;
    flex-direction: column;
}

.formulaire_contact-nom {
    width: 85%;
    height: 35px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.formulaire_contact-email {
    width: 85%;
    height: 35px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.formulaire_contact-objet {
    width: 85%;
    height: 35px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}


.formulaire_contact-description {
    width: 85%;
    height: 125px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.formulaire_contact-button {
    width: 85%;
    height: 45px;
    color: white;
    margin-bottom: 25px;
    border-radius: 5px;
    background-color: #1D809F;
    border-style: none;
}

.formulaire_contact-button {
    margin-top: 10px;
}